<h1>Fetch Multiple Random Images</h1>
<form id="multiple-form">
  <label for="count">Number of images:</label>
  <input type="number" id="count" name="count" min="1" />
  <button type="submit">Fetch Images</button>
</form>
<div id="images-container"></div>
<script>
  document.get
